.listSection {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

/* 축소된 상태의 스타일 */
.listBox {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 5rem;
  margin: 0 auto 0.5rem;
  background: #FFF;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.sampleImg {
  width: 5rem;
  height: 5rem;
  background-color: antiquewhite;
  flex-shrink: 0;
  margin-right: 0.75rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.textBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4A4A4A;

}

.title {
  color: #4A4A4A;
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: -0.03125rem;
  margin-bottom: 0.31rem;
  width: 8rem;
  height: 1.75rem;
}

.price {
  color: #222;
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.875rem;
  letter-spacing: -0.03125rem;
}

.countWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  width: 4rem; /* 화살표를 포함할 수 있는 충분한 너비 */
}

.count {
  color: #304FFE;
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: -0.03125rem;
}

/* 확장된 상태의 스타일 */
.ex_listBox {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto 0.5rem;
  border-radius: 0.25rem;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ex_sampleImg {
  width: 20rem;
  height: 13.6rem;
  background-color: antiquewhite;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ex_contentWrapper {
  display: flex;
  justify-content: space-between;
}

.ex_textBox {
  width: 100%;
  padding: 0.63rem 1.38rem;
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  line-height: 0.875rem;
  letter-spacing: -0.03125rem;
}

.ex_titlePriceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.81rem;
}

.ex_title {
  color: #4A4A4A;
  font-weight: 400;
  height: 1.75rem;
  width: 9.3rem;
}

.ex_price {
  color: #222;
  font-weight: 600;
}

.ex_storeMove {
  color: #999;
  font-weight: 400;
  margin-top: 1.56rem;
}

.ex_viewCountWrapper {
  display: flex;
  align-items: center;
  color: #304FFE;
  font-weight: 400;
  margin-top: 0.63rem;
  margin-right: 1.87rem;
}

.ex_viewText {
  margin-right: 0.5rem;
}

.ex_count {
  color: #304FFE;
  font-weight: 700;
}

.wishlistButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* 화살표 스타일 */
.arrowUp, .arrowDown {
  font-weight: bold;
  position: absolute;
  right: 0;
  width: 1rem;
  text-align: center;
}

.arrowUp {
  color: green;
}

.arrowDown {
  color: red;
}
.bottomRightButton {
  position: absolute;
  bottom: 1.06rem;
  right: 1.19rem;
  padding: 0.5rem 1rem;
  background-color: #304FFE;
  color: #FFF;
  border: none;
  border-radius: 0.25rem;
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bottomRightButton:hover {
  background-color: #1A37F0;
}
