
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw; /* Viewport width */
  height: 100vh; /* Viewport height */
  background-color: rgb(218, 218, 218);
  overflow: hidden;
  padding-top: 2.69rem; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the width and height */
}
.topSection {
  flex-shrink: 0;
  width: 100%;
}

.menuBox {
  width: 22.5rem;
  height: 3.5rem;
  position: relative;
  margin: 0 auto;
}

.headBox {
  display: flex;
  align-items: center;
  width: 22.5rem;
  height: 2.6rem;
  justify-content: space-between;
  margin: 0 auto 1.25rem;
}

.headBox h3 {
  margin-left: 1.56rem;
}

.sampleTimer {
  width: 5.25rem;
  height: 1.25rem;
  background-color: grey;
  margin-left: auto;
  margin-right: 1.12rem;
}

.sampleRe {
  width: 2rem;
  height: 2rem;
  margin-right: 1.56rem;
  background-color: grey;
}

.menuButton {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.menuContent {
  position: absolute;
  top: 3.125rem;
  right: 0.625rem;
  background: white;
  border: 0.0625rem solid #ccc;
  padding: 0.625rem;
  z-index: 999;
}

.menuList {
  list-style: none;
  padding: 0;
}
