
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw; /* Viewport width */
  height: calc(100vh - 70px); /* Viewport height minus navbar height */
  background-color: #fff;
  overflow: auto;
  padding-top: 2.69rem; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding is included in the width and height */
}

.topSection {
  flex-shrink: 0;
  width: 100%;
}

.menuAndLocationWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.menuBox {
  display: flex;
  align-items: center;
  width: 22.5rem;
  height: 2.6rem;
}

.myPlaceContainer{
  margin-left: 1.25rem;
}

.myPlace{
  padding: 0.25rem 0.625rem;
  border-radius: 0.25rem;
  background: #D9DFFF;
  color: #304FFE;
  margin-right: 0.5rem;
}

.headBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.headBox h3 {
  margin-bottom: 0.75rem;
}

.sampleTimer {
  width: 5.25rem;
  height: 1.25rem;
  background-color: grey;
  margin-left: auto;
  margin-right: 1.12rem;
}

.sampleRe {
  width: 2rem;
  height: 2rem;
  background-color: grey;
  margin-left: 1.2rem;
}

.menuButton {
  position: absolute;
  right: 0.625rem;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.menuContent {
  position: absolute;
  top: 3.125rem;
  right: 0.625rem;
  background: white;
  border: 0.0625rem solid #ccc;
  padding: 0.625rem;
  z-index: 999;
}



.menuList {
  list-style: none;
  padding: 0;
}

.menuText {
  color:black;
}

.headBox {
  color : black;
}

.timerAndRestartWapper{
  display: flex;
}